.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #3E497A;
    color: #ffffff;
    text-align: center;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}